.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.hide {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out;
}

.logos {
  display: flex;
}

.logoHide {
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out;
}

.logo:nth-child(2) {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
  transition-delay: 400ms;
}
.logo:nth-child(4) {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
  transition-delay: 1000ms;
}
