.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.hide {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out;
}
